{#-
# Copyright (c) 2021, California Institute of Technology ("Caltech").
# U.S. Government sponsorship acknowledged.
#
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
# * Redistributions must reproduce the above copyright notice, this list of
#   conditions and the following disclaimer in the documentation and/or other
#   materials provided with the distribution.
# * Neither the name of Caltech nor its operating division, the Jet Propulsion
#   Laboratory, nor the names of its contributors may be used to endorse or
#   promote products derived from this software without specific prior written
#   permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
-#}
    <Identification_Area>
        {% if label.PRODUCT_ID -%}
        <logical_identifier>urn:nasa:pds:data:{{label.DATA_SET_ID|lower}}:{{label.PRODUCT_ID|lower}}</logical_identifier>
        {%- else -%}
        <logical_identifier>urn:nasa:pds:data:{{label.DATA_SET_ID|lower|replace("/","-")}}:{{generate.file_name|lower}}</logical_identifier>
        {%- endif %}
        <version_id>1.0</version_id>
        <title>
        {%- if label.OBSERVATION_NAME -%}
        {{label.OBSERVATION_NAME|lower}}
        {%- elif label.OBSERVATION_ID -%}
        {{label.OBSERVATION_ID|lower}}
        {%- elif label.PRODUCT_NAME -%}
        {{label.PRODUCT_NAME|lower}}
        {%- else -%}
        {{label.DATA_SET_ID|lower}}{%- if label.PRODUCT_ID %} {{label.PRODUCT_ID|lower}}{%- endif -%}
        {%- endif -%}
        </title>
        <information_model_version>{{generate.model_version}}</information_model_version>
        <product_class>Product_Observational</product_class>
        <Modification_History>
            <Modification_Detail>
                <modification_date>{{generate.current_date_utc}}</modification_date>
                <version_id>1.0</version_id>
                <description>Auto generated PDS4 product label created by the Transform Tool.</description>
            </Modification_Detail>
        </Modification_History>
    </Identification_Area>